<head>
        <meta charset="UTF-8">
        <title>Create Article</title>
</head>
{% block body %}
<body>
{% include 'navbar.html.twig' %}
<div class="create-article-title">
<h1>Create a post {{username}}</h1>
</div>

{{ form_start(form) }}
{{ form_end(form) }}

{% if error is defined and error == true %}
    <p> Missing field </p>
{% endif %}
{% endblock %}
</body>