<head>
	<meta charset="UTF-8">
	<title>Create Article</title>
</head>
{% block body %}
	<body>
		{% if username %}
			{% include 'navbar.html.twig' with {active: 'signedin'} %}
		{% else %}
			{% include 'navbar.html.twig' %}
		{% endif %}
		<div class="create-article-title"></div>
		<div class="container">
			{{ form_start(form, {'attr': {'class': 'form'}}) }}
			<h1>Create a post
				{{username}}</h1>
			{{ form_end(form) }}

			{% if error is defined and error == true %}
				<p>
					Missing field
				</p>
			{% endif %}
		</div>
	{% endblock %}
</body>
