.body-div {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#navbar-signup {
    position: fixed;
    top: 5px;
    right: 0;
}

#navbar-Profile {
    position: fixed;
    top: 5px;
    right: 5rem;
}

.create-article-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.welcome-profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.create-article-title {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
}

.card {
    display: flex;
    margin: auto;
}

.card-header {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
}

.btn-delete {
    margin-left: auto;
}

.articles{
    width: 40%;
    margin: auto;
    margin-top: 2rem;
}

.card-link:hover {
    filter: brightness(94%);
}

.my-posts-label {
    margin: auto;
    text-align: center;
    font-size: 35px;
}

.back-btn {
    margin-left: 30%;
    margin-top: 2rem;
    position: relative;
    top: 1.3rem;
}

.article_pic{
    max-width: 20rem;
    max-height: 20rem;
    margin: auto;
}

.card-body{
    display: flex;
    flex-direction: column;
}