<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
</head>
<body>
	{% block body %}
		{% if username %}
			{% include 'navbar.html.twig' with {active: 'signedin'} %}
		{% else %}
			{% include 'navbar.html.twig' %}
		{% endif %}

		<div class="articles">
			{% if articles is defined %}
				{% for article in articles %}
					<a href="{{ path('article', {id: article.id})}}" id="card-link" class="card-link">
						<div class="card">
							<div class="card-header">
								<h4>{{article.title}}
								</h4>
							</div>
							<div class="card-body">
								<p class="card-text">
									{{article.body}}</p>
							</div>
						</div>
					</a>
				{% endfor %}
			{% endif %}
		</div>
	{% endblock %}

</body>
