<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Register
		{% endblock %}
	</title>
</head>
{% block body %}
	{% include 'navbar.html.twig' with { active: 'signin' } %}
	<div class="container">
		{{ form_start(form, { 'attr': {'class': 'form'}}) }}
		<h1>Register</h1>
		<div class="form-floating">
				{{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'}, 'id': 'floatingInput'})}}
				<label for="floatingInput">Username</label>
			</div>
			<div class="form-floating">
				{{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password', 'minlength': 8}, 'id': 'floatingPassword'})}}
				<label for="floatingPassword">Password</label>
			</div>
			{{form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}})}}
	</div>
{% endblock %}
